.dice{
  opacity: 0.7;
  height: 7%;
  width: 7%;
  border-radius: 50%;
  margin:auto;
}
svg.dice:hover{
  transform: rotate(45deg); /* Équivalent à rotateZ(45deg) */
  background-color: rgb(45, 137, 160);
}
#dice-roll {
  cursor: pointer;
}