

 /* <!-- import de la police Lato --> */

body{
font-family: 'Lato', sans-serif!important;
}

#affichage-dice{
  background-color:#DE4453;
  border-radius: 10%;
  border:solid 2px black;
  font-size: 3.5rem;
  /* max-width: 7.5vw; */
}

/* #player1 #player2{
  color:hsl(16, 100%, 50%);
}
#parentplay1{
  background-color: #e0e0e0;
}
#parentplay2{
  background-color: #f3f4cd;
} */
#dice-roll {
  cursor: pointer;
}
body{
  background-color: #F4F6F6;
}
.dice{
  opacity: 0.8;
  height: 100px;
  width: 100px;
  min-width:68px;
  max-width: 20%;
  max-height:20%;
  /* border-radius: 50%; */
  margin:auto;
  /* background-color: ; */
}
svg.dice:hover{
  transform: rotate(45deg); /* Équivalent à rotateZ(45deg) */
  /* z-index:; */
}

.number{
  box-sizing: border-box;
  height:100px;
  width: 100px;
  background-color:hsl(17, 64%, 88%);
  border:solid black 1px;
  color:rgb(51, 6, 6);
  padding-top: 0.7vh;
}